/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --title-color: ;
  --text-color: ;
  --text-color-light: ;
  --body-color: ;
  --shadow-color: ;
  --border-color: ;
  --container-color: ;

  /*========== Font and Typography ==========*/
  --body-font: "Source Sans Pro", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font Weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== Z-index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Border Radius ===========*/
  --border-outside-radius: 15px;
  --border-inside-radius: 20px;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-family: var(--body-font);
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--body-color);
  color: var(--text-color);
}

/*========== CSS Reset ==========*/
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
