/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --first-color: #fd7434;
  --first-color-alt: #ff6600;
  --secondary-color: #2268ff;
  --secondary-color-alt: #1b36b1;
  --title-color: #000000;
  --text-color: #313131;
  --text-color-light: #474747;
  --body-color: #fcfcfc;
  --container-color: #ffffff;
  --input-color: #f1f1f1;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --border-color: #cfcfcf;

  /*========== Font and Typography ==========*/
  --body-font: "Source Sans Pro", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.948rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font Weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;

  /*========== Margins ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== Z-index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Border Radius ===========*/
  --border-outside-radius: 15px;
  --border-inside-radius: 20px;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--body-font);
  scroll-behavior: smooth;
}
body {
  background: var(--body-color);
  color: var(--text-color);
}

/*========== CSS Reset ==========*/
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
input {
  font: inherit;
  width: 100%;
  border: none;
  box-shadow: 0px 2px var(--shadow-color);
}
input:focus {
  outline: 2px solid var(--secondary-color);
}

/*========== CLASS CSS ==========*/
.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  border-bottom: 1px solid var(--border-color);
  padding: var(--mb-2) 5rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.heading i {
  font-size: 2.2rem;
}

.item-flex {
  display: flex;
  flex-grow: 1;
}

.checkout {
  width: 55%;
  padding: var(--mb-2) 5rem;
  background: var(--container-color);
  border-right: 1px solid var(--border-color);
}

.section-heading {
  color: var(--title-color);
  margin-bottom: var(--mb-2);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}

/*========== PAYMENT ==========*/
.payment-form {
  margin-bottom: var(--mb-3);
}
.payment-method {
  display: flex;
  align-items: center;
  gap: var(--mb-2);
  margin-bottom: var(--mb-3);
}
.payment-method .method {
  border: 1px solid var(--border-color);
  border-radius: var(--border-inside-radius);
  width: 40%;
  display: flex;
  align-items: center;
  padding: 0.6rem var(--mb-1);
  gap: 1.2rem;
  cursor: pointer;
}
.payment-method .selected {
  border-color: var(--secondary-color-alt);
}
.payment-method i {
  font-size: var(--h2-font-size);
}
.payment-method .method .checkmark {
  margin-left: auto;
  color: var(--secondary-color-alt);
}

.label-default {
  padding-left: 0.5rem;
  font-size: var(--h3-font-size);
  color: var(--text-color-light);
}
.input-default {
  margin-top: var(--mb-1);
  background: var(--input-color);
  border-radius: var(--border-outside-radius);
  color: var(--text-color);
}
.payment-form input {
  padding: 0.5rem 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.cardholder-name,
.card-number {
  margin-bottom: var(--mb-2);
}
.cardholder-name input,
.card-number input {
  padding: 0.5rem 0.5rem;
  letter-spacing: 2px;
}
.card-number input,
.cvv input {
  letter-spacing: 3px;
}
.input-flex {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.input-flex .expire-date,
.input-flex .cvv {
  width: 30%;
}
.expire-date .input-flex {
  color: var(--text-color-light);
}
.expire-date .input-flex input,
.cvv input {
  text-align: center;
}

.btn {
  padding: 0.5rem 0.5rem;
  border-radius: var(--border-inside-radius);
}
.btn:active {
  transform: scale(1);
}
.btn:focus {
  color: var(--body-color);
  background: var(--secondary-color-alt);
  outline: 2px solid var(--secondary-color-alt);
  outline-offset: 2px;
}
.btn-primary {
  background: var(--secondary-color);
  font-weight: var(--font-medium);
  color: var(--body-color);
  padding: var(--mb-2) 2rem;
}
.btn-primary b {
  margin-left: 10px;
}
.btn-primary:hover {
  background: var(--secondary-color-alt);
}

/*========== CART ==========*/
.cart {
  width: 42%;
  /* TODO:
  Change width on media queries
  */
  display: flex;
  flex-direction: column;
}
.cart-item-box {
  padding: 1rem 1rem;
  margin-bottom: auto;
}

.product-card .card {
  position: relative;
  display: flex;
  align-items: flex-start;
  /* Products gap: */
  margin-bottom: var(--mb-3);
  /* Product picture and details gap: */
  gap: 1.2rem;
}
.card .product-img {
  border-radius: var(--border-inside-radius);
}
.card .detail .wrapper {
  display: flex;
  gap: 0.5rem;
}
.product-qty {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.product-qty button {
  color: var(--secondary-color);
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-qty button:hover {
  color: var(--secondary-color-alt);
}
.product-close-btn i {
  color: red;
  font-size: 1.2rem;
  /* Add on the right side of the screen: */
  position: absolute;
  top: 0;
  right: 0;
}
.product-close-btn i:hover {
  color: darkred;
}
.product-qty button:active,
.product-close-btn:active i {
  transform: scale(1);
}

.discount-token {
  padding: 1rem 1rem;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.wrapper-flex {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.wrapper-flex input {
  margin-top: var(--mb-1);
  background: var(--input-color);
  padding: 0.5rem 0.5rem;
  font-weight: var(--font-semi-bold);
  letter-spacing: 2px;
}

.btn-outline {
  margin-top: var(--mb-1);
  border: 1px solid var(--secondary-color);
  padding: 0.6rem 0.8rem;
}
.btn-outline:hover {
  color: #fff;
  background: var(--secondary-color-alt);
}

.amount {
  padding: 2rem var(--mb-2);
}
/* Subtotal / discount / shipping / total -> gap: */
.amount > div:not(:last-child) {
  margin-bottom: 1.2rem;
}
.amount .total {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: var(--secondary-color);
  text-align: end;
}

@media (max-width: 1026px) {
  .item-flex {
    /* Reverse because the client itens 
    always have to appear before the payment details */
    flex-direction: column-reverse;
  }

  .checkout {
    width: 100%;
    border-right: none;
  }
  .btn-primary {
    width: 100%;
  }

  .cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }
  .cart .wrapper {
    margin-top: auto;
  }
  .cart .cart-item-box {
    border-right: 1px solid var(--border-color);
    margin-bottom: 0;
  }

  .discount-token {
    border-top: none;
  }
}
@media (max-width: 768px) {
  .heading {
    padding: var(--mb-2) 3rem;
  }

  .cart {
    grid-template-columns: 1fr;
  }

  .discount-token {
    border-top: 1px solid var(--border-color);
  }

  .wrapper-flex {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  /* Make payment methods one
  under another */
  .payment-method {
    flex-direction: column;
  }
  .payment-method .method {
    width: 100%;
  }
  .expire-date .input-flex {
    flex-direction: row;
  }
  .input-flex .expire-date,
  .cvv {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .input-flex {
    flex-direction: column;
  }
}
